extends layout.pug
block links
    link(rel="stylesheet" href="dist/css/layout.css")
    link(rel="stylesheet" href="dist/css/produto.css")

block content
    nav(aria-label="breadcrumb")
        ol.breadcrumb
            li.breadcrumb-item
                a(href="/FoodSoftware") 
                    i.fas.fa-home
            li(class="breadcrumb-item active" aria-current="page") Cadastrar Revenda
    div.container.d-flex.align-items-center.justify-content-center
        .subcontainer.p-4
            h3.font-weight-bold.pb-4.text-primary Cadastro de Produto
            #cad-revenda
                .form-row
                    .form-group.col-md-10
                        input(type="text" name="nome" class="form-control" id="nome" placeholder="Nome do produto")
                    .form-group.col-md-2
                        select.custom-select
                            option(selected disabled) Tipo
                            option(value="1") Produto de Revenda
                            option(value="2") Produto de Matéria-Prima
                .form-row
                    .form-group.col-md-12
                        input(type="text" name="desc" class="form-control" id="desc" placeholder="Descrição")
                .form-row
                    .form-group.col-md-6
                        input(type="text" name="forn" class="form-control" id="forn" placeholder="Fornecedor")
                    .form-group.col-md-6
                        input(type="Date" name="val" class="form-control" id="val" placeholder="Validade")
                .form-row   
                    .form-group.col-md-4
                        input(type="number" name="quant" class="form-control" id="quant" placeholder="Quantidade")
                    .form-group.col-md-4
                        input(type="number" name="v_compra" class="form-control" id="v_compra" placeholder="Valor de Compra (R$)")
                    .form-group.col-md-4
                        input(type="number" name="v_venda" class="form-control" id="v_venda" placeholder="Valor de Venda (R$)")
                    button(type="button" class="btn btn-primary justify-content-end w-100" id="cad-prod" onclick='submit();') Cadastrar Produto

        div(class="modal fade" id="modal-cad-conf" tabindex="-1" role="dialog" aria-labelledby="modal-pag-conf-Label" aria-hidden="true")
            div(class="modal-dialog modal-dialog-centered" role="document")
                .modal-content
                    .modal-header.d-flex.justify-content-center.border-0
                        h5(class="modal-title text-success" id="modal-pag-conf-Label") Produto de Revenda Cadastrado com Sucesso        
                    .modal-body
                        p O produto pode ser agora encontrado com seus respectivos dados na tela de venda.
                    .modal-footer.d-flex.justify-content-center.border-0
                        button(type="button" class="btn btn-sm btn-primary" data-dismiss="modal" onclick="location.reload();") OK
    script.

        function submit() {
            $.post( 'http://localhost:3000/produto', { 
                    nome: $('#nome').val(),
                    tipo: $(".custom-select option:selected").val(),
                    desc: $('#desc').val(),
                    forn: $('#forn').val(),
                    val: $('#val').val(),
                    quant: $('#quant').val(),
                    v_compra: $('#v_compra').val(),
                    v_venda: $('#v_venda').val()
                });
                $('#modal-cad-conf').modal('show');      
        }
      
