extends layout.pug
block links
    link(rel="stylesheet" href="dist/css/layout.css")
    link(rel="stylesheet" href="dist/css/produto.css")
    link(rel="stylesheet" href="dist/css/venda.css")
block content
    nav(aria-label="breadcrumb")
        ol.breadcrumb
            li.breadcrumb-item
                a(href="/FoodSoftware") 
                    i.fas.fa-home
            li(class="breadcrumb-item active" aria-current="page") Cadastrar Manufatura
    div.container.d-flex.align-items-center.justify-content-center
        .subcontainer.p-4
            h4.font-weight-bold.pb-2.text-primary Cadastro de Manufatura
            .form-row
                    .form-group.col-md-9
                        input(type="text" name="nome" class="form-control" id="nome" placeholder="Nome do produto")
                    .form-group.col-md-3
                        input(type="number" name="quant" class="form-control" id="quant" placeholder="Quantidade")
            .form-row
                    .form-group.col-md-9
                        input(type="text" name="nome" class="form-control" id="nome" placeholder="Pesquisar Produtos")
                    .form-group.col-md-3  
                        button(class='btn btn-primary' onclick='search();') Adicionar
            .row 
                .col-12   
                    h6.text-primary.font-weight-bold Produtos Adicionados
                .col-12
                    table.table.table-sm.table-hover
                        thead
                            tr
                                th(scope="col") Nome do produto
                                th(scope="col") Quantidade
                                th(scope="col") Preço
                        tbody(id="table-body")
                           
            .row.d-flex.justify-content-end    
                button.btn.btn-sm.btn-primary Cadastrar Manufatura
    script.
        function search() {
            $.getJSON('http://localhost:3000/produto', function(data) {
                console.log(data);
                console.log(data[0].Nome);
                const $new = $('<tr>').appendTo('#table-body')
                $('<td>').html(data[0].Nome).appendTo($new)
                $('<td>').html(data[0].Estoque).appendTo($new)
                $('<td>').html(data[0].Preco).appendTo($new)
            });         
        }

        