extends layout.pug
block links
    link(rel="stylesheet" href="dist/css/layout.css")
    link(rel="stylesheet" href="dist/css/produto.css")
    link(rel="stylesheet" href="dist/css/venda.css")
block content
    nav(aria-label="breadcrumb")
        ol.breadcrumb
            li.breadcrumb-item
                a(href="/FoodSoftware") 
                    i.fas.fa-home
            li(class="breadcrumb-item active" aria-current="page") Cadastrar Manufatura
    div.container.d-flex.align-items-center.justify-content-center
        .subcontainer.p-4
            h4.font-weight-bold.pb-2.text-primary Cadastro de Manufatura
            .form-row
                    .form-group.col-md-9
                        input(type="text" name="nome" class="form-control" id="nome" placeholder="Nome do produto")
                    .form-group.col-md-3
                        input(type="number" name="quant" class="form-control" id="quant" placeholder="Quantidade")
            .form-row
                    .form-group.col-md-7
                        input(type="number" name="cod-pesquisa" class="form-control" id="cod-pesquisa" placeholder="Pesquisar Produtos por Código")
                    .form-group.col-md-3
                        input(type="number" name="quant-pesquisa" class="form-control" id="quant-pesquisa" placeholder="Quantidade")
                    .form-group.col-md-2  
                        button(class='btn btn-primary' onclick='search();') Adicionar
            .row 
                .col-12   
                    h6.text-primary.font-weight-bold Produtos Adicionados
                .col-12
                    table.table.table-sm.table-hover
                        thead
                            tr
                                th(scope="col") Código
                                th(scope="col") Nome do produto
                                th(scope="col") Quantidade
                                th(scope="col") Estoque
                                th(scope="col") Preço
                        tbody(id="table-body")
            .form-row
                    .form-group.col-md-6
                        input(type="date" name="val" class="form-control" id="val" placeholder="Data de Validade")
                    .form-group.col-md-6
                        input(type="number" name="v_preco" class="form-control" id="v_preco" placeholder="Preço de Venda")
            .row.d-flex.justify-content-end    
                button(class="btn btn-sm btn-primary" onclick="cadastrarManufatura();location.reload();") Cadastrar Manufatura
    script.
        let prodCad = [];
        let data = [];
       function search() {
            if($('#cod-pesquisa').val() != "" && $('#quant-pesquisa').val() ){
                $.getJSON('http://localhost:3000/produto/'+$('#cod-pesquisa').val(), function(data) {
                    const $new = $('<tr>').appendTo('#table-body')
                    $('<td>').html(data[0].idProduto).appendTo($new)
                    $('<td>').html(data[0].Nome).appendTo($new)
                    $('<td>').html($('#quant-pesquisa').val()).appendTo($new)
                    $('<td>').html(data[0].Estoque).appendTo($new)
                    $('<td>').html(data[0].Preco).appendTo($new)
                }); 
            }
        }
        function cadastrarManufatura() {
            if($('#nome').val() != "" && $('#quant').val() ){
                $.post( 'http://localhost:3000/produto/manufatura', { 
                    nome: $('#nome').val(),
                    tipo: "3",
                    desc:"gostoso",
                    forn:"tiaBisa",
                    val: $('#val').val(),
                    quant: $('#quant').val(),
                    v_compra:"0.0",
                    v_venda: $('#v_preco').val()
                });
                $('td:nth-child(4)').each(function(i){
                    prodCad[i] = {id: $(this).prev().prev().prev().html(), quant: $(this).prev().html(),estoque: $(this).html()};  
                })
                console.log(prodCad);
                alert("produto cadastrado");
                 let iden
                $.getJSON('http://localhost:3000/produto/manufatura/'+$('#nome').val(), function(data) {
                    iden=data[0].idProduto;
                }); 
                var i;
                for(i=0; i<prodCad.length ;i++){
                    let e = parseInt(prodCad[i].estoque) - parseInt(prodCad[i].quant); 
                    $.post('http://localhost:3000/receita',{MateriaPrima:prodCad[i].id,ProdutoComposto:iden,medida:prodCad[i].quant});
                    $.post('http://localhost:3000/produto/manufatura/novo/'+prodCad[i].id,{estoque:e});
                }
            }
         }

        