extends layout.pug
block links
    link(rel="stylesheet" href="dist/css/layout.css")
    link(rel="stylesheet" href="dist/css/produto.css")
block content
    nav(aria-label="breadcrumb")
        ol.breadcrumb
            li.breadcrumb-item
                a(href="/FoodSoftware") 
                    i.fas.fa-home
            li(class="breadcrumb-item active" aria-current="page") Cadastrar Matéria Prima
    div.container.d-flex.align-items-center.justify-content-center
        .subcontainer.p-4
            h3.font-weight-bold.pb-4.text-primary Cadastro de Matéria Prima
            form.product-form.w-100
                .form-row
                    .form-group.col-md-2
                        input(type="number" class="form-control disabled" placeholder="Código")
                    .form-group.col-md-10
                        input(type="text" class="form-control" id="inputAddress" placeholder="Nome do produto")
                .form-row   
                    .form-group.col-md-4
                        input(type="number" class="form-control" placeholder="Quantidade")
                    .form-group.col-md-4
                        input(type="number" class="form-control" placeholder="Valor de Compra (R$)")
                    .form-group.col-md-4
                        input(type="number" class="form-control" placeholder="Valor de Venda (R$)")
                button(type="submit" class="btn btn-primary justify-content-end w-100") Cadastrar Produto
