extends layout.pug
include ../mixins/cards.pug

block links
    link(rel="stylesheet" href="dist/css/bootstrap.css")
    link(rel="stylesheet" href="dist/css/layout.css")
block content
    div.container.d-flex.align-items-center.justify-content-center.h-100
        .row.d-flex
            +card-index("Iniciar Venda", "venda", "cash-register")
            +card-index("Cadastar Produto", "cad-prod", "file-alt")
            +card-index("Listar Produtos", "cad-prod-list", "utensil-spoon")
            +card-index("Cadastar Manufatura", "cad-prod-manufatura", "hammer")
            +card-index("Balanço Financeiro", "financeiro", "dollar-sign")

    script.
        window.onload = $.getJSON('http://localhost:3000/usuario', function(data) {
            console.log(data);
            if(data.funcao == 1){
                $('#idcad-prod-rev').addClass('disabled');
                $('#idcad-prod-prima').addClass('disabled');
                $('#idcad-prod-manufatura').addClass('disabled');
                $('#idfinanceiro').addClass('disabled');
            }
            if(data.funcao == 2){
                $('#idvenda').addClass('disabled');
                $('#idcad-prod-rev').addClass('disabled');
                $('#idcad-prod-prima').addClass('disabled');
                $('#idcad-prod-manufatura').addClass('disabled');
            }
            if(data.funcao == 3){
                $('#idvenda').addClass('disabled');
                $('#idfinanceiro').addClass('disabled');
            }
        })
        
                        