<?xml version="1.0" encoding="utf-8" ?>
html
    head
        title Projeto PDSOFTWARE
        block links
        link(rel="stylesheet" href="dist/css/bootstrap.css")
        link(rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.css")
        block scripts
            script(src="node_modules/jquery/dist/jquery.slim.js")
            script(src="node_modules/bootstrap/dist/js/bootstrap.min.js")
            script(src="node_modules/popper.js/dist/umd/popper.min.js")
    body
        header
            nav.navbar.navbar-light.bg-light.d-flex.justify-content-between
                a(class="navbar-brand d-flex align-items-center" href="/FoodSoftware") 
                    img(src="dist/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="") 
                    h6.mb-0.ml-3.font-weight-bold Sistema de Gerenciamento de Lanchonete
                a(class="navbar-brand d-flex align-items-center" href="/FoodSoftware") 
                    img(src="dist/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="") 
        block content