<?xml version="1.0" encoding="utf-8" ?>
html
    head
        title Projeto PDSOFTWARE
        block links
        link(rel="stylesheet" href="dist/css/bootstrap.css")
        link(rel="stylesheet" href="dist/css/fontawesome-free/css/all.css")
        link(rel="stylesheet" href="dist/css/login.css")
        link(rel="stylesheet" href="dist/css/layout.css")
        block scripts
            script(src="node_modules/jquery/dist/jquery.min.js")
            script(src="node_modules/bootstrap/dist/js/bootstrap.min.js")
            script(src="node_modules/popper.js/dist/umd/popper.min.js")
    body
        div.container.d-flex.align-items-center.justify-content-center.h-100
            .subcontainer.p-4
                nav
                    div(class="nav nav-tabs d-flex align-items-center justify-content-center" id="nav-tab" role="tablist")
                        a(class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true") Entrar
                        a(class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false") Cadastrar
                .tab-content#nav-tabContent
                    div(class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab")
                        .login-form.p-4
                            .row
                                .col-12    
                                    .form-group
                                        input(type="email" class="form-control" id="login_email" aria-describedby="emailHelp" placeholder="Endereço de Email")
                                    .form-group
                                        input(type="password" class="form-control" id="login_senha" aria-describedby="passHelp" placeholder="Senha de Acesso")
                                        small(id="passHelp" class="form-text text-muted") É Administrador? Cadastre um novo usuário mudando de aba!
                                    button(type="submit" class="btn btn-primary w-100" onclick="login()") Acessar o Sistema
                    div(class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab")
                        #cad-form.p-4
                            .form-row
                                .form-group.col-md-12
                                    input(type="text" class="form-control" id="nome" placeholder="Nome Completo")
                                .form-group.col-md-6
                                    input(type="text" class="form-control" id="cpf" placeholder="CPF (Somente digitos)")
                                .form-group.col-md-6    
                                    select.custom-select
                                        option(selected disabled) Selecione a Função
                                        option(value="1") Caixa
                                        option(value="2") Contador
                                        option(value="3") Estoque 
                                .form-group.col-md-6
                                    input(type="number" class="form-control" id="sal" placeholder="Salário a Receber (R$)")
                                .form-group.col-md-6
                                    input(type="text" class="form-control" id="user" placeholder="Nome de Usuário")
                                .form-group.col-md-12
                                    input(type="email" class="form-control" id="email" placeholder="E-mail de usuário")
                                .form-group.col-md-6
                                    input(type="password" class="form-control" id="senha" placeholder="Senha")
                                .form-group.col-md-6
                                    input(type="password" class="form-control" id="conf-senha" placeholder="Repita a Senha")
                                button(type="submit" class="btn btn-primary w-100" onclick="submit();") Cadastrar Usuário
            div(class="modal fade" id="modal-cad-conf" tabindex="-1" role="dialog" aria-labelledby="modal-pag-conf-Label" aria-hidden="true")
                div(class="modal-dialog modal-dialog-centered" role="document")
                    .modal-content
                        .modal-header.d-flex.justify-content-center.border-0
                            h5(class="modal-title text-success" id="modal-pag-conf-Label") Usuário Cadastrado com Sucesso        
                        .modal-body
                            p É necessário agora realizar o login do sistema para acessar suas funcionálidades.
                        .modal-footer.d-flex.justify-content-center.border-0
                            button(type="button" class="btn btn-sm btn-primary" data-dismiss="modal" onclick="location.reload();") OK
            div(class="modal fade" id="modal-cad-error" tabindex="-1" role="dialog" aria-labelledby="modal-pag-error-Label" aria-hidden="true")
                div(class="modal-dialog modal-dialog-centered" role="document")
                    .modal-content
                        .modal-header.d-flex.justify-content-center.border-0
                            h5(class="modal-title text-danger" id="modal-pag-error-Label") Confirmação de Senha Incorreta
                        .modal-body.d-flex.justify-content-center
                            p Verifique os dados e tente novamente.      
                        .modal-footer.d-flex.justify-content-center.border-0
                            button(type="button" class="btn btn-sm btn-primary" data-dismiss="modal" ) OK
            div(class="modal fade" id="modal-login-error" tabindex="-1" role="dialog" aria-labelledby="modal-login-error-Label" aria-hidden="true")
                div(class="modal-dialog modal-dialog-centered" role="document")
                    .modal-content
                        .modal-header.d-flex.justify-content-center.border-0
                            h5(class="modal-title text-danger" id="modal-login-error-Label") Usuário ou Senha Incorretos
                        .modal-body.d-flex.justify-content-center
                            p Verifique os dados e tente novamente.      
                        .modal-footer.d-flex.justify-content-center.border-0
                            button(type="button" class="btn btn-sm btn-primary" data-dismiss="modal" ) OK
    script.
        function submit() {
            if($('#senha').val() == $('#conf-senha').val()){
                $.post('http://localhost:3000/funcionario', { 
                        nome: $('#nome').val(),
                        cpf: $('#cpf').val(),
                        sal: $('#sal').val(),
                        user: $('#user').val(),
                        email: $('#email').val(),
                        senha: $('#senha').val(),
                        func: $(".custom-select option:selected").val()
                    });
                    $('#modal-cad-conf').modal('show');      
            }else{
                    $('#modal-cad-error').modal('show');
            }
        }

        function login() {
            $.getJSON('http://localhost:3000/funcionario/'+$('#login_email').val(), function(data) {
                if($('#login_senha').val() == data[0].Senha){
                    $.post('http://localhost:3000/usuario', { 
                        nome: data[0].Nome,
                        funcao: data[0].Funcao
                    });
                    window.location.href = "/FoodSoftware";
                }else{
                    $('#modal-login-error').modal('show');
                }
            })
        }