extends layout.pug
block links
    link(rel="stylesheet" href="dist/css/layout.css")
    link(rel="stylesheet" href="dist/css/produto.css")
    link(rel="stylesheet" href="dist/css/venda.css")
block content
    div.container.d-flex.align-items-center.justify-content-center.h-100
        .subcontainer.p-4
            h6.font-weight-bold.pb-2.text-primary Lista de Produtos
            table.table.table-sm.table-hover
                thead
                    tr
                        th(scope="col") Código
                        th(scope="col") Nome do produto
                        th(scope="col") Quantidade
                        th(scope="col") Preço
                
        
                tbody
                    tr
                        th(scope="row") 1
                        td Mark
                        td Otto
                        td @mdo
                    tr
                        th(scope="row") 1
                        td Mark
                        td Otto
                        td @mdo
                    tr
                        th(scope="row") 1
                        td Mark
                        td Otto
                        td @mdo
                    tr
                        th(scope="row") 1
                        td Mark
                        td Otto
                        td @mdo
                    tr
                        th(scope="row") 1
                        td Mark
                        td Otto
                        td @mdo
            button(type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal") Terminar Venda

        div(class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
            div(class="modal-dialog" role="document")
                .modal-content
                    .modal-header
                        h5(class="modal-title" id="exampleModalLabel") Tem certeza que deseja encerrar a venda?
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
            
                    .modal-body
                    .modal-footer
                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Não
                        button(type="button" class="btn btn-primary") Sim
    