extends layout.pug
block links
    link(rel="stylesheet" href="dist/css/layout.css")
    link(rel="stylesheet" href="dist/css/produto.css")
    link(rel="stylesheet" href="dist/css/venda.css")
block content
    nav(aria-label="breadcrumb")
        ol.breadcrumb
            li.breadcrumb-item
                a(href="/FoodSoftware") 
                    i.fas.fa-home
            li(class="breadcrumb-item active" aria-current="page") Iniciar Venda
    
    div.container.d-flex.align-items-center.justify-content-center
        .subcontainer.p-4
            h6.font-weight-bold.pb-2.text-primary Lista de Produtos
            .form-row
                .form-group.col-md-5
                    input(type="number" name="nome" class="form-control form-control-sm" id="cod" placeholder="Digite o código do produto")
                .form-group.col-md-5
                    input(type="number" name="nome" class="form-control form-control-sm" id="quant" placeholder="Quantidade")
                .form-group.col-md-2  
                    button(class='btn btn-primary btn-sm' onclick='search();') Adicionar
            table.table.table-sm.table-hover
                thead
                    tr
                        th(scope="col") Código
                        th(scope="col") Nome do produto
                        th(scope="col") Quantidade
                        th(scope="col") Preço
                
        
                tbody#table-body
                    
            p.text-right Valor Total: 
                span.font-weight-bold.text-primary R$ 
                span.font-weight-bold.text-primary#somaTot 0.00
            button(type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-conf-venda") Terminar Venda

        div(class="modal fade" id="modal-conf-venda" tabindex="-1" role="dialog" aria-labelledby="modal-conf-venda-Label" aria-hidden="true")
            div(class="modal-dialog modal-dialog-centered" role="document")
                .modal-content
                    .modal-header.d-flex.justify-content-center.border-0
                        h5(class="modal-title text-primary" id="modal-conf-venda-Label") Tem certeza que deseja encerrar a venda?
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    .modal-footer.d-flex.justify-content-center.border-0.pt-0
                        button(type="button" class="btn btn-sm btn-primary" id="pagamento" onclick="pag()") Sim
                        button(type="button" class="btn btn-sm btn-secondary" data-dismiss="modal") Não
        
        div(class="modal fade" id="modal-pag" tabindex="-1" role="dialog" aria-labelledby="modal-pag-Label" aria-hidden="true")
            div(class="modal-dialog modal-dialog-centered" role="document")
                .modal-content
                    .modal-header.d-flex.justify-content-center.border-0
                        h5(class="modal-title text-primary" id="modal-pag-Label") Janela de Pagamento
                    .modal-body.mx-3
                        .row
                            h6 O valor total da compra foi de: 
                                span.font-weight-bold.text-primary R$ 
                                span.font-weight-bold.text-primary#somaModal 
                        .row
                            select.custom-select
                                option(selected disabled) Escolha a forma de pagamento
                                option(value="1") Cartão de Crédito
                                option(value="2") Cartão de Débito
                                option(value="3") Especie              
                    .modal-footer.d-flex.justify-content-center.border-0
                        button(type="button" class="btn btn-sm btn-primary" id="pagamento" onclick="conf()") Confirmar Pagamento
                        button(type="button" class="btn btn-sm btn-secondary" data-dismiss="modal") Cancelar Pagamento
        
        div(class="modal fade" id="modal-pag-conf" tabindex="-1" role="dialog" aria-labelledby="modal-pag-conf-Label" aria-hidden="true")
            div(class="modal-dialog modal-dialog-centered" role="document")
                .modal-content
                    .modal-header.d-flex.justify-content-center.border-0
                        h5(class="modal-title text-success" id="modal-pag-conf-Label") Pagamento realizado com sucesso!        
                    .modal-body.py-0
                        p(class="mb-0 text-justify") O pagamento foi cadastrado com sucesso e poderá ser visualizado na seção de orçamento.
                    .modal-footer.d-flex.justify-content-center.border-0
                        button(type="button" class="btn btn-sm btn-primary" data-dismiss="modal" onclick="location.reload();") OK
    script.
        let somaTot = 0;
        const pag = () => {
            $('#modal-conf-venda').modal('hide');
            $('#modal-pag').modal('show');     
        }        
        const conf = () => {
            $('#modal-pag').modal('hide');
            $('#modal-pag-conf').modal('show');     
        }                  
        function search() {
            if($('#cod').val() != "" && $('#quant').val() != ""){
                $.getJSON('http://localhost:3000/produto/'+$('#cod').val(), function(data) {
                    console.log(data);
                    const $new = $('<tr>').appendTo('#table-body')
                    $('<td>').html(data[0].idProduto).appendTo($new)
                    $('<td>').html(data[0].Nome).appendTo($new)
                    $('<td>').html($('#quant').val()).appendTo($new)
                    $('<td>').html(data[0].Preco).appendTo($new)
                    atualizaSoma()
                })
            }
        }
        
        function atualizaSoma(){
            somaTot = 0;
            $('td:nth-child(4)').each(function(){
                somaTot = somaTot+ (parseInt($(this).html()) * parseInt($(this).prev().html()));
            })
            $('#somaTot').html(parseFloat(somaTot));
            $('#somaModal').html(parseFloat(somaTot));
             
        }