RewriteEngine On

# Pagina inicial
RewriteRule    ^$    dist/index.html    [NC,L,QSA]
RewriteRule    ^(.*)/$    dist/$1.html    [NC,L,QSA]
RewriteRule    ^([A-Za-z0-9-_/]+)$    dist/$1.html    [NC,L,QSA]

