body{
    background-color: #34495E !important; 

}
.subcontainer {
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    border-radius: 20px !important;
    min-width: 700px;
    opacity: 0.9;
}
.link-container{
    max-width: 300px;
    &.disabled,
    &:disabled,
    &[disabled] {
        pointer-events: none !important;
        cursor: not-allowed;
        color: #000;
        >.card-path {
            border: 1px solid rgb(139, 139, 139);
            background-color: rgb(139, 139, 139);
        }
    }
}
.card-path {
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    border-radius: 20px !important;
    opacity: 0.9;
    min-height: 150px;
}
.item-fin{
    background-color: #fafafa;
        i{
            font-size: 16px;
        }
}