extends layout.pug
include mixins/cards.pug

block links
    link(rel="stylesheet" href="css/layout.css")
block content
    div.container.d-flex.align-items-center.justify-content-center.h-100
        .row.d-flex
            +card-index("Iniciar Venda", "", "cash-register")
            +card-index("Cadastro de Revenda", "cad-prod-rev", "file-alt")
            +card-index("Cadastro de Matéria Prima", "cad-prod-prima", "utensil-spoon")
            +card-index("Cadastro de Manufatura", "", "hammer")
            +card-index("Visualizar Balanço Financeiro", "", "dollar-sign")
        
                        