extends layout.pug
block links
    link(rel="stylesheet" href="css/produto.css")
block content
    div.d-flex.align-items-center.justify-content-center#mydiv
        form.product-form.w-100.p-4
            .form-row
                .form-group.col-md-2
                    input(type="number" class="form-control" placeholder="ID")
                .form-group.col-md-10
                    input(type="text" class="form-control" id="inputAddress" placeholder="Nome do produto")
            .form-group
                input(type="text" class="form-control" id="inputAddress" placeholder="Fornecedor")
            .form-row   
                .form-group.col-md-4
                    input(type="number" class="form-control" placeholder="Quantidade")
                .form-group.col-md-4
                    input(type="number" class="form-control" placeholder="Valor do produto")
                .form-group.col-md-4
                    input(type="number" class="form-control" placeholder="Peso (Kg)")
            button(type="submit" class="btn btn-primary justify-content-end w-100") Cadastrar Produto
